.grid-section-pisos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
  flex-wrap: wrap;
  margin: 10px;
}
.container-piso {
  padding: 10px;
  margin: 10px;
  border: var(--color-dark-gray-t) solid 1px;
  border-radius: 5px;
}

.container-piso:hover {
  background-color: var(--color-light-gray);
}

.container-piso:hover .button-comprar {
  visibility: visible;
}

.button-comprar {
  visibility: hidden;
  border: var(--color-dark-gray) solid 2px;
  padding: 5px 20px;
  cursor: pointer;
  color: var(--color-gray);
  font-size: 1.2em;
}
