* {
  --cor-golden-200: #ac8754;
  --cor-golden-300: #b99f7c37;
  --cor-gray-900: rgba(221, 221, 221);
  --cor-gray-900-t: rgba(221, 221, 221, 0.5);
  --cor-gray-300: #333;
  --cor-gray-200: #222;
  --cor-gray-200-t: rgba(34, 34, 34, 0.2);
  font-family: "Roboto", sans-serif;
}

header {
  padding: 0 5px;
  background-color: var(--cor-gray-300);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  height: 100px;
}

#logo {
  width: 100px;
  height: auto;
}

header > nav {
  height: 100%;
  display: flex;
  align-items: flex-end;
}
header > h1 {
  text-align: left;
}

#search-bar {
  width: 100%;
  display: flex;
  color: var(--cor-gray-200);
}
#search-bar > input {
  padding: 10px;
  border: none;
  background-color: var(--cor-gray-900-t);
  width: 20vw;
  border-radius: 2px;
}

#search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

h1 {
  width: 100%;
  color: var(--cor-golden-200);
  font-size: 1.8em;
  font-weight: 300;
  text-transform: uppercase;
}

h2 {
  display: block;
  width: 100%;
  color: var(--cor-golden-200);
  font-size: 3em;
  font-weight: lighter;
  text-align: center;
}

p {
  color: var(--cor-golden-200);
}

a {
  color: var(--cor-golden-200);
  text-decoration: none;
}
.hamburger-nav {
  display: none;
  align-items: center;
  padding: 20px;
  font-size: 3em;
  text-decoration: none;
}

@media (max-width: 850px) {
  header > nav {
    display: none;
  }
  #search-bar {
    justify-content: flex-end;
  }
  .hamburger-nav {
    display: flex;
  }
}
@media (max-width: 600px) {
  #search-bar {
    display: none;
  }
  .hamburger-nav {
    display: flex;
  }
}

@media (max-width: 430px) {
  h1 {
    font-size: 1em;
  }
}

#navbar-container {
  display: flex;
  justify-content: end;
  flex-direction: row;
  width: 100%;
  height: 100%;
  gap: 10px;
}

.navbar-items {
  border-radius: 2px;
  list-style: none;
  display: flex;
  width: 75px;
  align-items: center;
  justify-content: center;
}

.navbar-items:hover {
  background-color: var(--cor-gray-200-t);
}

.navbar-items > a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--cor-gray-300);
}

#sobre {
  background-color: var(--cor-gray-300);
  border: var(--cor-golden-200) solid 2px;
}
