* {
  --cor-golden-200: #ac8754;
  --cor-gray-300: #333;
  --cor-gray-200: #222;
  --cor-gray-200-t: rgba(34, 34, 34, 0.2);
  font-family: "Roboto", sans-serif;
}

header {
  padding: 0 5px;
  background-color: var(--cor-gray-300);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  height: 100px;
}

#logo {
  width: 100px;
  height: auto;
  background-color: var(--cor-gray-300);
}

header > nav {
  height: 100%;
  display: flex;
  align-items: flex-end;
}
header > h1 {
  text-align: left;
}

h1 {
  width: 100%;
  color: var(--cor-golden-200);
  font-size: 1.8em;
  font-weight: 300;
  text-transform: uppercase;
  background-color: var(--cor-gray-300);
  /* alterar o bg-color */
}

h2 {
  display: block;
  width: 100%;
  color: var(--cor-golden-200);
  font-size: 3em;
  font-weight: lighter;
  text-align: center;
}

p {
  color: var(--cor-golden-200);
}

a {
  color: var(--cor-golden-200);
  text-decoration: none;
}
.hamburger-nav {
  background-color: var(--cor-gray-300);
  display: none;
}
.hamburger-nav>i{
  background-color: var(--cor-gray-300);
}

@media (max-width: 620px) {
  header > nav {
    display: none;
  }
  .hamburger-nav {
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 3em;
    text-decoration: none;
  }
}
@media (max-width: 430px) {
  h1 {
    font-size: 1em;
  }
}

#navbar-container {
  display: flex;
  justify-content: end;
  flex-direction: row;
  width: 100%;
  height: 100%;
  gap: 10px;
  background-color: var(--cor-gray-300);
}

.navbar-items {
  border-radius: 2px;
  list-style: none;
  display: flex;
  width: 75px;
  align-items: center;
  justify-content: center;
}

.navbar-items:hover {
  background-color: var(--cor-gray-200-t);
}

.navbar-items > a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--cor-gray-300);
}
